.loading-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url('../../images/loader.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}
