.popup__close-btn {
  width: 100%;
  max-width: 32px;
  min-height: 32px;
  background-image: url('../../../images/close-icon.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 580px) {
  .popup__close-btn {
    right: 0;
    top: -36px;
    max-width: 20px;
    min-height: 20px;
  }
}
